<mat-card>
  <mat-card-title>New Meetings</mat-card-title>
  <mat-form-field>
    <mat-label>Event Name</mat-label>
    <input matInput placeholder="name" [formControl]="nameControl" />
  </mat-form-field>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Start Time</mat-label>
      <input matInput type="time" [formControl]="starttimeControl" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>End Time</mat-label>
      <input matInput type="time" [formControl]="endtimeControl" />
    </mat-form-field>
  </p>
  <p>
    <mat-label>Frequency</mat-label>
    <mat-radio-group aria-label="Frequency" [formControl]="frequencyControl">
      <mat-radio-button class="radio" value="0">Once</mat-radio-button>
      <mat-radio-button class="radio" value="1">Daily</mat-radio-button>
      <mat-radio-button class="radio" value="2">Weekly</mat-radio-button>
      <mat-radio-button class="radio" value="3">Monthly</mat-radio-button>
    </mat-radio-group>
  </p>
  <p>
    <button mat-raised-button (click)="addToCalendar()">Submit</button>
  </p>
</mat-card>
<mat-card class="mat-card-top">
  <mat-card-title>Today's Meetings</mat-card-title>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- StartTime Column -->
    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef>Start Time</th>
      <td mat-cell *matCellDef="let element">
        {{ element.start_date | date: "shortTime" }}
      </td>
    </ng-container>

    <!-- EndTime Column -->
    <ng-container matColumnDef="end_date">
      <th mat-header-cell *matHeaderCellDef>End Time</th>
      <td mat-cell *matCellDef="let element">
        {{ element.end_date | date: "shortTime" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
